<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Welcome</title>
</head>
<body>
<div class="container">
    <div class="row" style="padding-top: 80px;">
        <div class="span12">
            <div class="hero-unit">
                <div style="text-align: center;">
                    <a href="https://github.com/socketstream/socketstream">
                        <img src="/images/logo.png" alt="SocketStream Logo" width="160" height="160">
                    </a>
                    <a href="http://angularjs.org/">
                        <img src="/images/AngularJS-Shield-medium.png" width="160" height="160" alt="Angular Logo">
                    </a>
                </div>
                <div style="text-align: center;">
                    <h1>Welcome to your Angular realtime app!</h1>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="ChatCtrl" class="row">
        <div class="span1"></div>
        <div class="span10">
            <h3 class="legend">Quick Chat Demo</h3>
            <h5>Open this page in multiple tabs or browsers and type a message below</h5>

            <form ng-submit="postMessage()">
                <input class="span10" type="text" ng-model="myMessage">
            </form>

            <ul class="unstyled">
                <li ng-repeat="message in messages">
                    <span>{{message}}</span>
                    <span class="pull-right">{{now() | date:'medium'}}</span>
                </li>
            </ul>

        </div>
        <div class="span1"></div>
    </div>

</div>
</body>
</html>